---
type SanityImage = { alt?: string; url?: string };

type campsInfoSection = {
  _type: "campsInfoSection";
  images?: SanityImage[];
};

const section = Astro.props.section as campsInfoSection;
---
<section class="">
  <div class="container">
    <div class="flex flex-col items-center gap-7">
      {section.images?.map((image) => (
        image?.url ? (
          <img
            src={image.url}
            alt={image.alt ?? ''}
            class="rounded w-1/2 object-cover"
          />
        ) : null
      ))}
    </div>
    </div>
  </div>
</section>