@use "fonts";
@use "vars" as *;
@use "functions" as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .orange-btn {
    @apply bg-primary-orange hover:bg-[transparent] border border-primary-orange hover:border-primary-orange border-solid rounded-md font-normal hover:text-primary-orange text-base transition-colors duration-300 cursor-pointer;

    @media (max-width: 79.49rem) {
      @apply w-full font-medium text-lg;
    }
  }

  .transparent-btn {
    @apply bg-[transparent] hover:bg-transparent-btn-hover-bg border border-transparent-btn-border rounded-lg font-normal text-lg transition-colors duration-300;

    @media (max-width: 79.49rem) {
      @apply font-medium text-lg;
    }
  }

  .contact-btn {
    @apply border w-full font-medium text-lg text-center rounded-lg py-5 flex flex-col
  }

  .free-lesson-btn {
    @apply bg-primary-orange px-20 lg:px-4 py-5 lg:py-1 rounded-lg font-primary lg:font-secondary lg:font-normal font-medium text-black text-lg transition duration-300 hover:bg-white
  }

}

@layer base {
  :root {
    font-size: theme("fontSize.base");
    @media screen and (min-width: $width-vw) {
      font-size: get-vw($base-value, $width-vw);
    }
  }
  a {
    text-underline-offset: 0.25em;
    text-decoration: none;
  }
  input,
  textarea {
    outline: none;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-medium;
    @apply leading-tight;
    hyphens: auto;
    @media screen and (min-width: theme("screens.xl")) {
      hyphens: none;
    }
  }
}

body {
  font-family: theme("fontFamily.primary");
  font-size: inherit;
  font-weight: theme("fontWeight.normal");
  margin: auto;
  padding: 0;
  line-height: 1.5 !important;
  color: theme("colors.black");
  text-align: left;
  background-color: theme("colors.white");
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// article {
//   h1 {
//     @apply lg:hidden inline mb-3 font-primary font-normal text-lg leading-custom1;
//   }
//   h2 {
//     @apply lg:hidden inline mb-3 font-primary font-normal text-lg leading-custom1;
//   }
//   h3 {
//     @apply lg:hidden inline mb-3 font-primary font-normal text-lg leading-custom1;
//   }
//   p {
//     @apply lg:hidden inline mb-3 font-primary font-normal text-lg leading-custom1;

//     @at-root {
//       &.text-sm {
//         font-size: 18px;
//       }
//     }
//   }
//   ul {
//     @apply lg:hidden inline mb-3 font-primary font-normal text-lg leading-custom1;
//     li {
//       @apply lg:hidden inline mb-3 font-primary font-normal text-lg leading-custom1;
//     }
//   }
// }

@keyframes marquee-to-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-70%);
  }
}


.is-active {
  color: #F9AE43;
}

@keyframes zoomPulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.animate-zoom-pulse {
  animation: zoomPulse 50s ease-in-out infinite;
}


::-webkit-scrollbar {
  display: none; 
}


[data-watch] {
  @apply transition-all;
  transition-property: opacity, transform, filter, clip-path !important;
  transition-duration: var(--watch-duration, 300ms) !important;
  transition-delay: var(--watch-delay, 0ms) !important;
  transition-timing-function: var(--watch-ease, cubic-bezier(.22,.61,.36,1)) !important;
}

[data-watch="fade-to-top"] {
  opacity: 0;
  transform: translateY(15%);
  &.is-inview {
    opacity: 1;
    transform: translateY(0);
  }
}

[data-watch="fade-to-bot"] {
  opacity: 0;
  transform: translateY(-15%);
  &.is-inview {
    opacity: 1;
    transform: translateY(0);
  }
}

[data-watch="fade-to-right"] {
  opacity: 0;
  transform: translateX(-15%);
  &.is-inview {
    opacity: 1;
    transform: translateX(0);
  }
}

[data-watch="fade-to-left"] {
  opacity: 0;
  transform: translateX(15%);
  &.is-inview {
    opacity: 1;
    transform: translateX(0);
  }
}

[data-watch="fade-from-zero"] {
  opacity: 0;
  &.is-inview {
    opacity: 1;
    transform: translateX(0);
  }
}
