---
import ErrorLayout from "@layouts/Error.astro"
import { DEFAULT_LANG, LOCALE } from "@/constants"
import { Image } from "astro:assets"

export const prerender = false;  



const cookie = Astro.cookies.get('language');
const lang: keyof typeof LOCALE = cookie?.value ?? DEFAULT_LANG;

const t = LOCALE[lang]
const description = t.notFoundText
const btn404 = t.btn404
---

<ErrorLayout description={description} btn={btn404}>
  <div class="place-items-center grid min-h-dvh">
    <div class="container">
      <div class="flex flex-col items-center">
        <Image
          class="mx-auto lg:aspect-2/1"
          src={import("@images/logo404.png")}
          format="webp"
          alt="logo404" />
        <h1 class="lg:mb-9 font-secondary font-medium text-2xl lg:text-4xl">404</h1>
        <p class="mb-14 lg:max-w-xl font-secondary font-medium text-2xl lg:text-4xl text-center">
          {t.notFoundText}
        </p>
        <a href="/">
          <button class="px-32 py-5 orange-btn" type="button">{t.btn404}</button>
        </a>
      </div>
    </div>
  </div>
</ErrorLayout>
