---
import { Image } from "astro:assets";
import DefaultLayout from "@layouts/Default.astro";
import Article from "@components/Article.astro";
import aboutUsImage from '@images/about-us-image.jpg';
import userLogo from '@images/user-logo.jpg'

import HeroZoomImage from "@components/sharedSections/HeroZoomImage.astro";
import AboutSection from '@components/sharedSections/AboutSection.astro';


import GeneralDescriptionSection from "@components/sharedSections/GeneralDescriptionSection.astro";
import ReviewsSection from "@components/sharedSections/ReviewsSection.astro";



// About section data 
type ImageAboutType = {
  src: ImageMetadata;
  alt?: string;
};

type aboutSectionProps = {
  sectionPaddingsStyle: 'withPaddings' | 'withoutPaddings';
  layoutStyle: 'primary' | 'secondary';
  borderStyle: 'primary' | 'secondary';
  titleStyle: 'default' | 'secondary'
  heading: string;
  subheading?: string;
  image: ImageAboutType;
  spanRows: string[][];
  paragraphs: string[];
  finalTitle?: string;
  contentSequence?: ('subheading' | 'spanRows' | 'finalTitle' | 'paragraphs')[];
};

const aboutSectionData: aboutSectionProps = {
  sectionPaddingsStyle: 'withPaddings',
  layoutStyle: 'primary',
  borderStyle: 'secondary',
  titleStyle: 'default',
  heading: 'Про нас',
  subheading: 'Подорожі, друзі та відкриття – кемпи для кожного сезону',
  image: {
    src: aboutUsImage,
    alt: 'Команда'
  },
  paragraphs: [
    'У наших кемпах кожна дитина відкриває світ по‑новому: через подорожі, творчість, спорт і спілкування з однолітками. Ми створюємо програми, що не лише розважають, а й розвивають — допомагають знайти нові інтереси, стати впевненішими та навчитися працювати в команді.',
    'Ви можете обрати індивідуальний тур для своєї дитини або групову поїздку для класу, спортивної секції чи гуртка. Ми подбаємо про все: безпечні маршрути, досвідчених супроводжуючих та насичену програму, яка залишить приємні спогади.',
  ],
  spanRows: [
    ['враження', 'розвиток'],
    ['друзі', 'пригоди']
  ],
  contentSequence: ['subheading', 'paragraphs', 'spanRows'],
};
// ==================================================================


// Reviews section data 
type ImageReviewsType = {
  src: ImageMetadata;
  alt?: string;
};

type cardItem = {
  divBg: 'orange' | 'green' | 'gray';
  image: ImageReviewsType;
  name: string;
  description: string;
  videoReview: string;
}

type reviewsSectionProps = {
  sectionPaddingsStyle: 'withPaddings' | 'withoutPaddings';
  sectionBgStyle: 'white' | 'gray';
  titleText: string;
  reviewsDescription: string[];
  videoReview: string;
  cards: cardItem[]
}

const reviewsSectionData: reviewsSectionProps = {
  sectionPaddingsStyle: 'withPaddings',
  sectionBgStyle: 'gray',
  titleText: 'Відгуки про тури',
  reviewsDescription: [
    'Відгуки наших учнів та їхніх батьків — це найцінніше підтвердження того, що ми на правильному шляху.',
    'Саме ці слова мотивують нас ставати ще кращими щодня.'
  ],
  videoReview: 'Дивитись відеовідгуки',
  cards: [
    {
      divBg: 'green',
      image: {
        src: userLogo,
        alt: 'qwerty'
      },
      name: 'Ольга О.',
      description: 'Мій син із нетерпінням чекає кожного заняття! Нарешті зʼявилось середовище, де його справді чують і підтримують',
      videoReview: 'Відеовідгук'
    },
        {
      divBg: 'orange',
      image: {
        src: userLogo,
        alt: 'qwerty'
      },
      name: 'Світлана К.',
      description: 'Доньці подобається, що можна спробувати різні напрямки. А я спокійна, бо бачу її зацікавленість і прогрес',
      videoReview: 'Відеовідгук'
    },
    {
      divBg: 'gray',
      image: {
        src: userLogo,
        alt: 'qwerty'
      },
      name: 'Ірина Д.',
      description: 'Дуже вдячні викладачам за індивідуальний підхід. У сина раніше були труднощі з навчанням, а тут він розкрився',
      videoReview: 'Відеовідгук'
    },
  ]
}

---

<DefaultLayout title="Camps" description="It-school, courses">

  <!-- Hero section -->

  <HeroZoomImage />
  
  <!-- About us section-->
  <AboutSection {...aboutSectionData} />


  <!-- <section class="py-20 lg:py-32">
    <div class="container">
      <div class="mb-8 basis-1/4 lg:basis1/12">
        <h2 class="font-secondary font-medium text-2xl lg:text-3xl">Про нас</h2>
      </div>
      <div class="flex lg:flex-row flex-col gap-8 basis-1/4 lg:basis1/12">
        <div class="lg:basis-6/12 basis-1/4">
          <Image
            src={import("@images/about-us-image.jpg")}
            format="webp"
            alt="about us"
          />
        </div>
        <div class="flex flex-col justify-between lg:basis-6/12 basis-1/4">

          <h3 class="font-secondary font-semibold text-xl lg:text-3xl">
            Подорожі, друзі та відкриття – кемпи для кожного сезону
          </h3>
          
          <Article>
            <p>У наших кемпах кожна дитина відкриває світ по‑новому: через подорожі, творчість, спорт і спілкування з однолітками. Ми створюємо програми, що не лише розважають, а й розвивають — допомагають знайти нові інтереси, стати впевненішими та навчитися працювати в команді.</p>
            <p>Ви можете обрати індивідуальний тур для своєї дитини або групову поїздку для класу, спортивної секції чи гуртка. Ми подбаємо про все: безпечні маршрути, досвідчених супроводжуючих та насичену програму, яка залишить приємні спогади.</p>
          </Article>

          <div class="flex flex-col gap-4 basis-1/4">
            <div class="flex gap-6">

              <div class="bg-gradient-to-b from-gradient-from to-gradient-to p-[2px] rounded-3xl w-full max-w-[11.37rem]">
                <span class="block bg-white px-6 py-2 rounded-3xl font-play font-normal text-black text-xl text-center">
                  враження
                </span>
              </div>

                <div class="bg-gradient-to-b from-gradient-from to-gradient-to p-[2px] rounded-3xl w-full max-w-[11.37rem]">
                  <span class="block bg-white px-6 py-2 rounded-3xl font-play font-normal text-black text-xl text-center">
                    розвиток
                  </span>
                </div>
              </div>
            <div class="flex gap-6">
              <div class="bg-gradient-to-b from-gradient-from to-gradient-to p-[2px] rounded-3xl w-full max-w-[11.37rem]">
                <span class="block bg-white px-6 py-2 rounded-3xl font-play font-normal text-black text-xl text-center">
                  друзі
                </span>
              </div>
              <div class="bg-gradient-to-b from-gradient-from to-gradient-to p-[2px] rounded-3xl w-full max-w-[11.37rem]">
                <span class="block bg-white px-6 py-2 rounded-3xl font-play font-normal text-black text-xl text-center">
                  пригоди
                </span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section> -->

  <GeneralDescriptionSection />
  
  <ReviewsSection {...reviewsSectionData} />


</DefaultLayout>
