---
import { Image } from "astro:assets";
import DefaultLayout from "@layouts/Default.astro";
import Article from "@components/Article.astro";

import userLogo from '@images/user-logo.jpg'



import ReviewsSection from "@components/sharedSections/ReviewsSection.astro";




// Reviews section data 
type ImageReviewsType = {
  src: ImageMetadata;
  alt?: string;
};

type cardItem = {
  divBg: 'orange' | 'green' | 'gray';
  image: ImageReviewsType;
  name: string;
  description: string;
  videoReview: string;
}

type reviewsSectionProps = {
  sectionPaddingsStyle: 'withPaddings' | 'withoutPaddings';
  sectionBgStyle: 'white' | 'gray';
  titleText: string;
  reviewsDescription: string[];
  videoReview: string;
  cards: cardItem[]
}

const reviewsSectionData: reviewsSectionProps = {
  sectionPaddingsStyle: 'withPaddings',
  sectionBgStyle: 'gray',
  titleText: 'Відгуки про уроки',
  reviewsDescription: [
    'Відгуки наших учнів та їхніх батьків — це найцінніше підтвердження того, що ми на правильному шляху.',
    'Саме ці слова мотивують нас ставати ще кращими щодня.'
  ],
  videoReview: 'Дивитись відеовідгуки',
  cards: [
    {
      divBg: 'green',
      image: {
        src: userLogo,
        alt: 'qwerty'
      },
      name: 'Ольга О.',
      description: 'Мій син із нетерпінням чекає кожного заняття! Нарешті зʼявилось середовище, де його справді чують і підтримують',
      videoReview: 'Відеовідгук'
    },
        {
      divBg: 'orange',
      image: {
        src: userLogo,
        alt: 'qwerty'
      },
      name: 'Світлана К.',
      description: 'Доньці подобається, що можна спробувати різні напрямки. А я спокійна, бо бачу її зацікавленість і прогрес',
      videoReview: 'Відеовідгук'
    },
    {
      divBg: 'gray',
      image: {
        src: userLogo,
        alt: 'qwerty'
      },
      name: 'Ірина Д.',
      description: 'Дуже вдячні викладачам за індивідуальний підхід. У сина раніше були труднощі з навчанням, а тут він розкрився',
      videoReview: 'Відеовідгук'
    },
  ]
}
---

<DefaultLayout title="English courses" description="It-school, courses">

  <!-- Hero section -->

  <section class="mt-11 lg:mt-16">
    <div class="container">

      <div class="mb-auto">
        <Image
          class="mx-auto"
          src={import("@images/logo-english-friends.jpg")}
          format="webp"
          alt="image"
        />
      </div>

      <div class="flex justify-center bg-transparent-btn-hover-bg mx-auto mb-6 lg:mb-8 py-0.5 w-[21.56rem]">
        <p>Більше, ніж уроки — досвід спілкування</p>
      </div>
      
      <div class="mx-auto max-w-2xl">
        <h1 class="mb-6 lg:mb-7 font-secondary font-medium text-2xl lg:text-4xl text-center">Розкриваємо голос вашої дитини англійською</h1>
      </div>

      <div class="mx-auto mb-6 lg:mb-11 max-w-sm">
        <p class="font-normal text-lg text-center">Допомагаємо дітям вільно заговорити, а не просто вчити правила</p>
      </div>


      <div class="mb-6 lg:mb-0 rounded-xl w-full h-full aspect-40/17 overflow-hidden">
        <Image
          class="brightness-75 w-full h-full object-cover animate-zoom-pulse"
          src={import("@images/english-hero.jpg")}
          format="webp"
          alt="image"
        />
      </div>

    </div>
  </section>

  <!-- Our approach section -->

  <section class="my-20 lg:my-32">
    <div class="container">

      <div class="mb-9">
        <h2 class="font-secondary font-medium text-2xl lg:text-4xl text-center">Наш підхід</h2>
      </div>

      <!-- cards -->

      <div class="flex lg:flex-row flex-col gap-x-5 gap-y-8 mb-11">

        <div class="flex flex-col items-center gap-5 shadow-lg px-10 pt-12 pb-7 rounded-lg basis-full lg:basis-3/13">
          <Image
            src={import("@images/target-pic.png")}
            format="webp"
            alt="image"
          />
          <h3 class="font-semibold text-base lg:text-xl">Індивідуальний підхід</h3>
          <Article class="max-w-xs font-normal text-center">
            <p>Менше сухої теорії — більше спілкування, ігор і практичних завдань. Діти починають говорити англійською вже з перших уроків.</p>
          </Article>
        </div>

        <div class="flex flex-col items-center gap-5 shadow-lg px-10 pt-12 pb-7 rounded-lg basis-full lg:basis-3/13">
          <Image
            src={import("@images/target-pic.png")}
            format="webp"
            alt="image"
          />
          <h3 class="font-semibold text-base lg:text-xl">Індивідуальний підхід</h3>
          <Article class="max-w-xs font-normal text-center">
            <p>Менше сухої теорії — більше спілкування, ігор і практичних завдань. Діти починають говорити англійською вже з перших уроків.</p>
          </Article>
        </div>

        <div class="flex flex-col items-center gap-5 shadow-lg px-10 pt-12 pb-7 rounded-lg basis-full lg:basis-3/13">
          <Image
            src={import("@images/target-pic.png")}
            format="webp"
            alt="image"
          />
          <h3 class="font-semibold text-base lg:text-xl">Індивідуальний підхід</h3>
          <Article class="max-w-xs font-normal text-center">
            <p>Менше сухої теорії — більше спілкування, ігор і практичних завдань. Діти починають говорити англійською вже з перших уроків.</p>
          </Article>
        </div>

      </div>

      <!-- btn -->

      <div class="flex justify-center basis-1/4 lg:basis-1/12">
        <button class="px-5 py-4 font-secondary font-medium text-lg orange-btn" type="button">Безкоштовний урок</button>
      </div>

    </div>
  </section>

  <ReviewsSection {...reviewsSectionData} />

  <!-- Team section -->

  <section class="py-16 lg:py-32 w-full overflow-hidden">
    <div class="container">
      <div class="m-auto mb-16 max-w-lg">
        <h2 class="mb-8 font-secondary font-medium text-2xl lg:text-4xl text-center">Наші викладачі</h2>
        <p class="font-normal text-base text-center">Наші викладачі не просто навчають — вони надихають, пояснюють складне простими словами та допомагають кожній дитині розкрити свій потенціал.</p>
      </div>

      <div class="flex gap-4 lg:gap-5 pb-4 lg:overflow-hidden overflow-x-auto scroll-smooth snap-mandatory snap-x lg:snap-none">

        <div class="flex flex-col gap-6 min-w-full lg:min-w-0 snap-center basis-full lg:basis-1/3">
          <div class="rounded-full aspect-59/84">
            <Image
              class="rounded-full w-full h-full object-cover"
              src={import("@images/teacher.png")}
              format="webp"
              alt="IT Friends logo"
            />
          </div>
          <div class="flex flex-col items-center">
            <h3 class="font-medium text-lg">Ірина Маринова</h3>
            <p class="text-base">Вчителька англійської</p>
            <a href="#">
              <Image
                class="w-7 h-7"
                src={import("@images/facebook.svg")}
                alt="Facebook picture"
              />
            </a>
          </div>
        </div>
        
        <div class="flex flex-col lg:flex-col-reverse gap-6 pt-0 lg:pt-16 min-w-full lg:min-w-0 snap-center basis-full lg:basis-1/3">
          <div class="rounded-full aspect-59/84">
            <Image
              class="rounded-full w-full h-full object-cover"
              src={import("@images/teacher.png")}
              format="webp"
              alt="IT Friends logo"
            />
          </div>
          <div class="flex flex-col items-center">
            <h3 class="font-medium text-lg">Ірина Маринова</h3>
            <p class="text-base">Вчителька англійської</p>
            <a href="#">
              <Image
                class="w-7 h-7"
                src={import("@images/facebook.svg")}
                alt="Facebook picture"
              />
            </a>
          </div>
        </div>
        
        <div class="flex flex-col gap-6 min-w-full lg:min-w-0 snap-center basis-full lg:basis-1/3">
          <div class="rounded-full aspect-59/84">
            <Image
              class="rounded-full w-full h-full object-cover"
              src={import("@images/teacher.png")}
              format="webp"
              alt="Facebook picture"
            />
          </div>
          <div class="flex flex-col items-center">
            <h3 class="font-medium text-lg">Ірина Маринова</h3>
            <p class="text-base">Вчителька англійської</p>
            <a href="#">
              <Image
                class="w-7 h-7"
                src={import("@images/facebook.svg")}
                alt="Facebook picture"
              />
            </a>
          </div>
        </div>
        
        <div class="flex flex-col lg:flex-col-reverse gap-6 pt-0 lg:pt-16 min-w-full lg:min-w-0 snap-center basis-full lg:basis-1/3">
          <div class="rounded-full aspect-59/84">
            <Image
              class="rounded-full w-full h-full object-cover"
              src={import("@images/teacher.png")}
              format="webp"
              alt="Facebook picture"
            />
          </div>
          <div class="flex flex-col items-center">
            <h3 class="font-medium text-lg">Ірина Маринова</h3>
            <p class="text-base">Вчителька англійської</p>
            <a href="#">
              <Image
                class="w-7 h-7"
                src={import("@images/facebook.svg")}
                alt="Facebook picture"
              />
            </a>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- School addresses section -->

  <section>
    <div class="container">

      <div class="mb-9">
        <h2 class="font-secondary font-medium text-2xl lg:text-4xl text-center">Офлайн адреси</h2>
      </div>

      <!-- cards -->

      <div class="flex lg:flex-row flex-col gap-x-5 gap-y-8 mb-11">

        <a href="https://www.google.com/maps/place/IT+FRIENDS+%E2%80%8D+%D1%88%D0%BA%D0%BE%D0%BB%D0%B0+%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D1%8F+%EF%B8%8F+%D0%B4%D0%BB%D1%8F+%D0%B4%D0%B5%D1%82%D0%B5%D0%B9+%D0%91%D0%BE%D1%80%D1%89%D0%B0%D0%B3%D0%BE%D0%B2%D0%BA%D0%B0/@50.4222214,30.3770458,17z/data=!4m16!1m9!3m8!1s0x40d4cb93953b853f:0xf16fb2bfad5b6b0a!2z0LHRg9C7LiDQndC40LrQvtC70LDRjyDQoNGD0LTQtdC90LrQviwgMTQsINCa0LjQtdCyLCAwMzE5NA!3b1!8m2!3d50.4222214!4d30.3796207!10e3!16s%2Fg%2F11c3rqfsd4!3m5!1s0x40d4cb9f20daf997:0xb9ff3dda21067623!8m2!3d50.4222542!4d30.3795066!16s%2Fg%2F11p0ps3ll6?entry=ttu&g_ep=EgoyMDI1MDcxNi4wIKXMDSoASAFQAw%3D%3D">
          <div class="flex flex-col items-center gap-5 shadow-lg px-6 py-6 rounded-lg basis-full lg:basis-3/13">
            <Image
              class="rounded-lg"
              src={import("@images/borshaha-school.jpg")}
              format="webp"
              alt="image"
            />
            <h3 class="font-secondary font-semibold text-base lg:text-lg uppercase">Борщагівка</h3>
            <Article class="max-w-xs font-normal text-center">
              <p >Б-р Кольцова 14 (4 поверх)</p>
              <p>+38-097-140-92-92</p>
            </Article>
          </div>
        </a>
        

        <a href="https://www.google.com/maps/place/IT+FRIENDS+%E2%80%8D+%D1%88%D0%BA%D0%BE%D0%BB%D0%B0+%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D1%8F+%EF%B8%8F+%D0%B4%D0%BB%D1%8F+%D0%B4%D0%B5%D1%82%D0%B5%D0%B9+%D0%91%D0%BE%D1%80%D1%89%D0%B0%D0%B3%D0%BE%D0%B2%D0%BA%D0%B0/@50.4222214,30.3770458,17z/data=!4m16!1m9!3m8!1s0x40d4cb93953b853f:0xf16fb2bfad5b6b0a!2z0LHRg9C7LiDQndC40LrQvtC70LDRjyDQoNGD0LTQtdC90LrQviwgMTQsINCa0LjQtdCyLCAwMzE5NA!3b1!8m2!3d50.4222214!4d30.3796207!10e3!16s%2Fg%2F11c3rqfsd4!3m5!1s0x40d4cb9f20daf997:0xb9ff3dda21067623!8m2!3d50.4222542!4d30.3795066!16s%2Fg%2F11p0ps3ll6?entry=ttu&g_ep=EgoyMDI1MDcxNi4wIKXMDSoASAFQAw%3D%3D">
          <div class="flex flex-col items-center gap-5 shadow-lg px-6 py-6 rounded-lg basis-full lg:basis-3/13">
            <Image
              class="rounded-lg"
              src={import("@images/borshaha-school.jpg")}
              format="webp"
              alt="image"
            />
            <h3 class="font-secondary font-semibold text-base lg:text-lg uppercase">Харківська–Позняки</h3>
            <Article class="max-w-xs font-normal text-center">
              <p>Вул. Кошиця 9Б</p>
              <p>+38-098-261-79-75</p>
            </Article>
          </div>
        </a>

        <a href="https://www.google.com/maps/place/IT+FRIENDS+%E2%80%8D+%D1%88%D0%BA%D0%BE%D0%BB%D0%B0+%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D1%8F+%EF%B8%8F+%D0%B4%D0%BB%D1%8F+%D0%B4%D0%B5%D1%82%D0%B5%D0%B9+%D0%91%D0%BE%D1%80%D1%89%D0%B0%D0%B3%D0%BE%D0%B2%D0%BA%D0%B0/@50.4222214,30.3770458,17z/data=!4m16!1m9!3m8!1s0x40d4cb93953b853f:0xf16fb2bfad5b6b0a!2z0LHRg9C7LiDQndC40LrQvtC70LDRjyDQoNGD0LTQtdC90LrQviwgMTQsINCa0LjQtdCyLCAwMzE5NA!3b1!8m2!3d50.4222214!4d30.3796207!10e3!16s%2Fg%2F11c3rqfsd4!3m5!1s0x40d4cb9f20daf997:0xb9ff3dda21067623!8m2!3d50.4222542!4d30.3795066!16s%2Fg%2F11p0ps3ll6?entry=ttu&g_ep=EgoyMDI1MDcxNi4wIKXMDSoASAFQAw%3D%3D">
          <div class="flex flex-col items-center gap-5 shadow-lg px-6 py-6 rounded-lg basis-full lg:basis-3/13">
            <Image
              class="rounded-lg"
              src={import("@images/borshaha-school.jpg")}
              format="webp"
              alt="image"
            />
            <h3 class="font-secondary font-semibold text-base lg:text-lg uppercase">Позняки</h3>
            <Article class="max-w-xs font-normal text-center">
              <p>Пр-т Григоренка 16</p>
              <p>+38-098-440-94-47</p>
            </Article>
          </div>
        </a>

      </div>

    </div>
  </section>

  <!-- FAQ section -->

  <section class="bg-primary-turquoise py-16" id='faq'>
    <div class="container">
      <div class="flex lg:flex-row flex-col justify-between">
        <div class="lg:py-14 basis-4/12">
          <div class="m-auto lg:mx-0 mb-6 max-w-xs">
            <h2 class="mb-8 font-secondary font-medium text-2xl lg:text-3xl lg:text-left text-center">Популярні запитання
            </h2>
          </div>
          <Article class="m-auto lg:mx-0 mb-9 max-w-xs lg:text-left text-center">
            <p>Щоб вам було спокійніше й зрозуміліше, ми зібрали відповіді на найпопулярніші питання про навчання в нашій
              школі.</p>
          </Article>
          <button type="button" class="hidden lg:inline-block px-7 py-3 leading-none transparent-btn">Задати своє
            питання</button>
        </div>

        <!-- Accordion -->

        <div class="space-y-4 accordion basis-6/12">

          <!-- First block -->

          <div class="border rounded-md overflow-hidden accordion-item">
            <h2 class="accordion-header">
              <button type="button"
                class="flex justify-between items-center bg-transparent p-5 w-full font-semibold lg:font-bold text-base lg:text-lg text-left transition-colors accordion-trigger"
                aria-expanded="false">
                <span>З якого віку можна навчатись у школі?</span>
                <span class="accordion-icon">
                  <svg class="w-5 h-5 accordion-icon-plus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="48" d="M256 80v352M80 256h352" />
                  </svg>
                  <svg class="hidden w-5 h-5 accordion-icon-minus" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="48" d="M80 256h352" />
                  </svg>
                </span>
              </button>
            </h2>
            <div class="max-h-0 overflow-hidden transition-all duration-500 ease-in-out accordion-panel">
              <div class="p-5 border-t">
                <Article>
                  <p class="mb-2">Наші заняття проходять офлайн у Києві за п’ятьма зручними адресами:</p>
                  <p>📍 вул. Хрещатик, 25, просп. Перемоги, 45, вул. Драгоманова, 12, вул. Михайла Ломоносова, 18, вул. Генерала Алмазова, 6Обирайте найближчу до вас локацію — усі класи
                  обладнані сучасною технікою та створені спеціально для навчання дітей і підлітків. 🌱</p>
                </Article>
              </div>
            </div>
          </div>

          <!-- Second block -->

          <div class="border rounded-md overflow-hidden accordion-item">
            <h2 class="accordion-header">
              <button type="button"
                class="flex justify-between items-center bg-transparent p-5 w-full font-semibold lg:font-bold text-base lg:text-lg text-left transition-colors accordion-trigger"
                aria-expanded="false">
                <span>Чи можна приєднатись посеред навчального року?</span>
                <span class="accordion-icon">
                  <svg class="w-5 h-5 accordion-icon-plus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="48" d="M256 80v352M80 256h352" />
                  </svg>
                  <svg class="hidden w-5 h-5 accordion-icon-minus" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="48" d="M80 256h352" />
                  </svg>
                </span>
              </button>
            </h2>
            <div class="max-h-0 overflow-hidden transition-all duration-500 ease-in-out accordion-panel">
              <div class="p-5 border-t">
                <Article>
                  <p class="mb-2">Наші заняття проходять офлайн у Києві за п’ятьма зручними адресами:</p>
                  <p>📍 вул. Хрещатик, 25, просп. Перемоги, 45, вул. Драгоманова, 12, вул. Михайла Ломоносова, 18, вул. Генерала Алмазова, 6Обирайте найближчу до вас локацію — усі класи
                  обладнані сучасною технікою та створені спеціально для навчання дітей і підлітків. 🌱</p>
                </Article>
              </div>
            </div>
          </div>

          <!-- Third block -->

          <div class="border rounded-md overflow-hidden accordion-item">
            <h2 class="accordion-header">
              <button type="button"
                class="flex justify-between items-center bg-transparent p-5 w-full font-semibold lg:font-bold text-base lg:text-lg text-left transition-colors accordion-trigger"
                aria-expanded="false">
                <span>Скільки дітей у групі?</span>
                <span class="accordion-icon">
                  <svg class="w-5 h-5 accordion-icon-plus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="48" d="M256 80v352M80 256h352" />
                  </svg>
                  <svg class="hidden w-5 h-5 accordion-icon-minus" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="48" d="M80 256h352" />
                  </svg>
                </span>
              </button>
            </h2>
            <div class="max-h-0 overflow-hidden transition-all duration-500 ease-in-out accordion-panel">
              <div class="p-5 border-t">
                <Article>
                  <p class="mb-2">Наші заняття проходять офлайн у Києві за п’ятьма зручними адресами:</p>
                  <p>📍 вул. Хрещатик, 25, просп. Перемоги, 45, вул. Драгоманова, 12, вул. Михайла Ломоносова, 18, вул. Генерала Алмазова, 6Обирайте найближчу до вас локацію — усі класи
                  обладнані сучасною технікою та створені спеціально для навчання дітей і підлітків. 🌱</p>
                </Article>
              </div>
            </div>
          </div>

          <!-- Fourth block -->

          <div class="border rounded-md overflow-hidden accordion-item">
            <h2 class="accordion-header">
              <button type="button"
                class="flex justify-between items-center bg-transparent p-5 w-full font-semibold lg:font-bold text-base lg:text-lg text-left transition-colors accordion-trigger"
                aria-expanded="false">
                <span>Чи можна спочатку спробувати?</span>
                <span class="accordion-icon">
                  <svg class="w-5 h-5 accordion-icon-plus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="48" d="M256 80v352M80 256h352" />
                  </svg>
                  <svg class="hidden w-5 h-5 accordion-icon-minus" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="48" d="M80 256h352" />
                  </svg>
                </span>
              </button>
            </h2>
            <div class="max-h-0 overflow-hidden transition-all duration-500 ease-in-out accordion-panel">
              <div class="p-5 border-t">
                <Article>
                  <p class="mb-2">Наші заняття проходять офлайн у Києві за п’ятьма зручними адресами:</p>
                  <p>📍 вул. Хрещатик, 25, просп. Перемоги, 45, вул. Драгоманова, 12, вул. Михайла Ломоносова, 18, вул. Генерала Алмазова, 6Обирайте найближчу до вас локацію — усі класи
                  обладнані сучасною технікою та створені спеціально для навчання дітей і підлітків. 🌱</p>
                </Article>
              </div>
            </div>
          </div>

          <!-- Fifth block -->

          <div class="border rounded-md overflow-hidden accordion-item">
            <h2 class="accordion-header">
              <button type="button"
                class="flex justify-between items-center bg-transparent p-5 w-full font-semibold lg:font-bold text-base lg:text-lg text-left transition-colors accordion-trigger"
                aria-expanded="false">
                <span>Де саме проходять заняття?</span>
                <span class="accordion-icon">
                  <svg class="w-5 h-5 accordion-icon-plus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="48" d="M256 80v352M80 256h352" />
                  </svg>
                  <svg class="hidden w-5 h-5 accordion-icon-minus" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="48" d="M80 256h352" />
                  </svg>
                </span>
              </button>
            </h2>
            <div class="max-h-0 overflow-hidden transition-all duration-500 ease-in-out accordion-panel">
              <div class="p-5 border-t">
                <Article>
                  <p class="mb-2">Наші заняття проходять офлайн у Києві за п’ятьма зручними адресами:</p>
                  <p>📍 вул. Хрещатик, 25, просп. Перемоги, 45, вул. Драгоманова, 12, вул. Михайла Ломоносова, 18, вул. Генерала Алмазова, 6Обирайте найближчу до вас локацію — усі класи
                  обладнані сучасною технікою та створені спеціально для навчання дітей і підлітків. 🌱</p>
                </Article>
              </div>
            </div>
          </div>

      </div>
    </div>
  </section>

  <!-- Interesting things section -->

  <section class="py-20 lg:py-32">
    <div class="container">

      <div class="mx-auto mb-5 lg:mb-11 max-w-xs lg:max-w-2xl">
        <h2 class="font-secondary font-medium text-2xl lg:text-4xl text-center">Що ще вас може зацікавити</h2>
      </div>

      <div class="flex lg:flex-row flex-col gap-11 lg:gap-5">

        <!-- left side -->

        <div class="basis-full lg:basis-1/2">

          <div class="mb-7">
            <Image
              class="object-cover"
              src={import("@images/picture.jpg")}
              format="webp"
              alt="IT Friends logo"
            />
          </div>

          <div class="mb-6 max-w-xs">
            <h3 class="font-bold text-xl">Англійська для дітей від 6 до 16 років, 5 адрес в Києві</h3>
          </div>

          <Article class="mb-9 max-w-sm text-base lg:text-lg text-left">
            <p>Ми створили школу, в якій дитину не оцінюють, а підтримують.Тут кожен учень — важливий.</p>
          </Article>

          <button type="button" class="px-16 py-3 transparent-btn">Детальніше</button>

        </div>

        <!-- right side -->

        <div class="basis-full lg:basis-1/2">

          <div class="mb-7">
            <Image
              class="object-cover"
              src={import("@images/picture.jpg")}
              format="webp"
              alt="IT Friends logo"
            />
          </div>

          <div class="mb-6 max-w-md">
            <h3 class="font-bold text-xl">Табори для дітей у будь-яку пору року!  Карпати, море, Україна, закордон</h3>
          </div>

          <Article class="mb-9 max-w-sm text-base lg:text-lg text-left">
            <p>Ми створили школу, в якій дитину не оцінюють, а підтримують.Тут кожен учень — важливий.</p>
          </Article>

          <button type="button" class="px-16 py-3 transparent-btn">Детальніше</button>

        </div>

      </div>

    </div>
  </section>

<!-- This import will be sent to the accordion component when it is ready. -->
<script>
  import '../scripts/accordion.ts';
</script>

</DefaultLayout>
