---
import { SITE_TITLE, SITE_DESCRIPTION } from '@/constants.ts';
import DefaultLayout from '@layouts/Default.astro';
import Article from '@components/Article.astro';

import { Image } from 'astro:assets';

import aboutUsImage from '@images/about-us-image.jpg';
import itFriendsLogo from '@images/logo-it-friends.jpg';
import englishFriendsLogo from '@images/logo-english-friends.jpg' 
import tourFriendsLogo from '@images/logo-tour-friends.jpg'
import peculiaritiesImg1 from '@images/peculiarities-img1.jpg'
import peculiaritiesMainImg from '@images/peculiarities-central-image.jpg'
import userLogo from '@images/user-logo.jpg'
import img1 from '@images/new-school1.jpg'
import img2 from '@images/new-school2.jpg'
import img3 from '@images/new-school3.jpg'
import img4 from '@images/new-school4.png'

import HeroSection from '@components/pages/main/HeroSectionMain.astro';
import AreasOfStudy from '@components/pages/main/AreasOfStudyMain.astro';
import AboutSection from '@components/sharedSections/AboutSection.astro';
import PeculiaritiesSection from '@components/sharedSections/PeculiaritiesSection.astro';
import ReviewsSection from '@components/sharedSections/ReviewsSection.astro';
import NewSchoolMain from '@components/pages/main/NewSchoolMain.astro';

const title = `${SITE_TITLE}`;
const description = `${SITE_DESCRIPTION}`;


// Hero section data

type ImageHeroSectionType = {
  src: ImageMetadata;
  alt?: string;
};

type StatItem = {
  number: string;
  label: string;
};

type HeroSectionProps = {
  title: string;
  description: string[];
  buttonText: string;
  buttonLink: string;
  stats: StatItem[];
  images: ImageHeroSectionType[][];
};

const heroSectionData: HeroSectionProps = {
  title: "Знайди свій напрям в IT Спробуй, змінюй, розвивайся",
  description: [
    "Кожна дитина чи підліток може обрати напрям навчання IT за бажанням.",
    "Ми підберемо зручний для вас графік навчання у групі",
  ],
  buttonText: "Всі курси",
  buttonLink: "/it_courses",
  stats: [
    { number: "20+", label: "напрямків <br /> offline i online" },
    { number: "5", label: "адрес в Києві" },
    { number: "7+", label: "років навчаємо" },
  ],
  images: [
    [
      { src: img1, alt: 'qwerty' },
      { src: img1, alt: 'qwerty' },
      { src: img1, alt: 'qwerty' },
      { src: img1, alt: 'qwerty' },
      { src: img1, alt: 'qwerty' },
      { src: img1, alt: 'qwerty' },
    ],
    [
      { src: img1, alt: 'qwerty' },
      { src: img1, alt: 'qwerty' },
      { src: img1, alt: 'qwerty' },
      { src: img1, alt: 'qwerty' },
      { src: img1, alt: 'qwerty' },
      { src: img1, alt: 'qwerty' },
    ],
    [
      { src: img1, alt: 'qwerty' },
      { src: img1, alt: 'qwerty' },
      { src: img1, alt: 'qwerty' },
      { src: img1, alt: 'qwerty' },
      { src: img1, alt: 'qwerty' },
      { src: img1, alt: 'qwerty' },
    ],
    [
      { src: img1, alt: 'qwerty' },
      { src: img1, alt: 'qwerty' },
      { src: img1, alt: 'qwerty' },
      { src: img1, alt: 'qwerty' },
      { src: img1, alt: 'qwerty' },
      { src: img1, alt: 'qwerty' },
    ],
  ],
};



// ==================================================================


// Areas of study section data 
  type CardItem = {
    image: ImageMetadata;
    title: string;
    ageRange: string;
    description: string[];
    spanBg: string;
    spanColor: string;
    visibleCardButtonText: string;
    hiddenCardButtonText: string;
  };

  type areasStudySectionProps = {
    sectionStyle: 'withPaddings' | 'withoutPaddings';
    title: string;
    cards: CardItem[];
    mainButtonText: string;
  };

  const areasStudyData: areasStudySectionProps = {
    sectionStyle: 'withPaddings',
    title: 'Напрямки',
    mainButtonText: 'Безкоштовний урок',
    cards: [
      {
        image: itFriendsLogo,
        title: 'IT Заняття',
        ageRange: 'діти від 7-8 років',
        description: [
          'Цей курс допоможе дітям зробити перші кроки в світі комп’ютерів та технологій. Ми вчимо через гру: програмуємо персонажів, розв’язуємо логічні задачі, створюємо прості історії.',
          'Діти навчаються з цікавістю, без стресу й тиску.',
        ],
        visibleCardButtonText: 'Дізнатися більше',
        hiddenCardButtonText: 'Безкоштовний урок',
        spanBg: 'bg-span-gray',
        spanColor: 'text-white'
      },
      {
        image: englishFriendsLogo,
        title: 'Англійська для дітей',
        ageRange: 'діти від 9-16 років',
        description: [
          'Захоплюючі заняття з носіями мови, інтерактивні ігри, розвиток комунікації.',
          'Підхід, який розвиває любов до англійської з дитинства.',
        ],
        visibleCardButtonText: 'Дізнатися більше',
        hiddenCardButtonText: 'Безкоштовний урок',
        spanBg: 'bg-span-sand',
        spanColor: 'text-black'
      },
      {
        image: tourFriendsLogo,
        title: 'IT Табори',
        ageRange: 'діти від 7-16 років',
        description: [
          'Навчання та пригоди в одному: денні або виїзні табори з програмуванням, іграми та спортом.',
          'Насичене літо без гаджетів — із новими друзями та навичками.',
        ],
        visibleCardButtonText: 'Дізнатися більше',
        hiddenCardButtonText: 'Безкоштовний урок',
        spanBg: 'bg-span-mint',
        spanColor: 'text-black'
      },
    ]
  };

// ==================================================================


// About section data 
  type ImageAboutType = {
    src: ImageMetadata;
    alt?: string;
  };

  type aboutSectionProps = {
    sectionPaddingsStyle: 'withPaddings' | 'withoutPaddings';
    layoutStyle: 'primary' | 'secondary';
    borderStyle: 'primary' | 'secondary';
    titleStyle: 'default' | 'secondary'
    heading: string;
    subheading?: string;
    image: ImageAboutType;
    spanRows: string[][];
    paragraphs: string[];
    finalTitle?: string;
    contentSequence?: ('subheading' | 'spanRows' | 'finalTitle' | 'paragraphs')[];
  };

  const aboutSectionData: aboutSectionProps = {
    sectionPaddingsStyle: 'withPaddings',
    layoutStyle: 'primary',
    borderStyle: 'primary',
    titleStyle: 'default',
    heading: 'Про нас',
    subheading: 'Віримо в кожну дитину І вона починає вірити в себе',
    image: {
      src: aboutUsImage,
      alt: 'Команда'
    },
    spanRows: [
      ['індивідуально', 'інтерактивно'],
      ["з любов'ю", 'гнучко']
    ],
    finalTitle: 'Не просто курси — місце для зростання',
    paragraphs: [
      'Ми створили школу, в якій дитину не оцінюють, а підтримують.Тут кожен учень — важливий',
      'Ми віримо, що найкращі результати приходять не через тиск, а через цікавість, довіру та повагу до темпу дитини.',
      'У нашій школі можна пробувати, помилятись, змінювати напрям і знову шукати своє — без страху'
    ],
    contentSequence: ['subheading', 'spanRows', 'finalTitle', 'paragraphs'],
  };
// ==================================================================


// Peculiarities section data 
  type ImagePeculiaritiesType = {
    src: ImageMetadata;
    alt?: string;
  };

  type cardItemFirstBlock = {
    image: ImagePeculiaritiesType;
    subHeading: string;
    description: string;
  }

  type cardItemSecondBlock = {
    image: ImagePeculiaritiesType;
    subHeading: string;
    description: string;
  }

  type peculiaritiesSectionProps = {
    sectionPaddingsStyle: 'withPaddings' | 'withoutPaddings';
    sectionBgStyle: 'gradient' | 'gray';
    titleText: string;
    leftCard: cardItemFirstBlock[];
    mainImage: ImagePeculiaritiesType;
    rightCard: cardItemSecondBlock[];
  }

  const peculiaritiesSectionData: peculiaritiesSectionProps = {
    sectionPaddingsStyle: 'withPaddings',
    sectionBgStyle: 'gradient',
    titleText: 'Що робить нашу школу особливою',
    leftCard: [
      {
        image: {
          src: peculiaritiesImg1,
          alt: 'qwerty'
        },
        subHeading: 'Великий  вибір напрямків',
        description: 'Ми створили школу, в якій дитину не оцінюють, а підтримують.Тут кожен учень — важливий.'
      },
      {
        image: {
          src: peculiaritiesImg1,
          alt: 'qwerty'
        },
        subHeading: 'Реалізація проектів',
        description: 'Ми створили школу, в якій дитину не оцінюють, а підтримують.Тут кожен учень — важливий.'
      }
    ],
    mainImage: {
      src: peculiaritiesMainImg,
      alt: 'qwerty'
    },
    rightCard: [
      {
        image: {
          src: peculiaritiesImg1,
          alt: 'qwerty'
        },
        subHeading: 'Навчаємось з розумінням',
        description: 'Ми створили школу, в якій дитину не оцінюють, а підтримують.Тут кожен учень — важливий.'
      },
      {
        image: {
          src: peculiaritiesImg1,
          alt: 'qwerty'
        },
        subHeading: '+ Надаємо додатково ',
        description: 'Ми створили школу, в якій дитину не оцінюють, а підтримують.Тут кожен учень — важливий.'
      }
    ],
    
  }
// ==================================================================


// Reviews section data 
type ImageReviewsType = {
  src: ImageMetadata;
  alt?: string;
};

type cardItem = {
  divBg: 'orange' | 'green' | 'gray';
  image: ImageReviewsType;
  name: string;
  description: string;
  videoReview: string;
}

type reviewsSectionProps = {
  sectionPaddingsStyle: 'withPaddings' | 'withoutPaddings';
  sectionBgStyle: 'white' | 'gray';
  titleText: string;
  reviewsDescription: string[];
  videoReview: string;
  cards: cardItem[]
}

const reviewsSectionData: reviewsSectionProps = {
  sectionPaddingsStyle: 'withPaddings',
  sectionBgStyle: 'white',
  titleText: 'Що про нас говорять',
  reviewsDescription: [
    'Відгуки наших учнів та їхніх батьків — це найцінніше підтвердження того, що ми на правильному шляху.',
    'Саме ці слова мотивують нас ставати ще кращими щодня.'
  ],
  videoReview: 'Дивитись відеовідгуки',
  cards: [
    {
      divBg: 'green',
      image: {
        src: userLogo,
        alt: 'qwerty'
      },
      name: 'Ольга О.',
      description: 'Мій син із нетерпінням чекає кожного заняття! Нарешті зʼявилось середовище, де його справді чують і підтримують',
      videoReview: 'Відеовідгук'
    },
        {
      divBg: 'orange',
      image: {
        src: userLogo,
        alt: 'qwerty'
      },
      name: 'Світлана К.',
      description: 'Доньці подобається, що можна спробувати різні напрямки. А я спокійна, бо бачу її зацікавленість і прогрес',
      videoReview: 'Відеовідгук'
    },
    {
      divBg: 'gray',
      image: {
        src: userLogo,
        alt: 'qwerty'
      },
      name: 'Ірина Д.',
      description: 'Дуже вдячні викладачам за індивідуальний підхід. У сина раніше були труднощі з навчанням, а тут він розкрився',
      videoReview: 'Відеовідгук'
    },
  ]
}
// ==================================================================


// New School section data

type ImageNewSchoolType = {
  src: ImageMetadata;
  alt?: string;
};

type imageNewSchoolProps = {
  sectionPaddingsStyle: 'withPaddings' | 'withoutPaddings';
  titleText: string; 
  images: ImageNewSchoolType[][];
}

const imageNewSchoolData: imageNewSchoolProps = {
  sectionPaddingsStyle: 'withoutPaddings',
  titleText: 'Знайди свій напрям в IT Спробуй, змінюй, розвивайся',
  images: [
    [
      { src: img1, alt: 'Image 1' },
      { src: img2, alt: 'Image 2' },
      { src: img3, alt: 'Image 3' },
      { src: img4, alt: 'Image 4' },
    ],
    [
      { src: img1, alt: 'Image 1' },
      { src: img2, alt: 'Image 2' },
      { src: img3, alt: 'Image 3' },
      { src: img4, alt: 'Image 4' },
    ],
  ],
};
// ==================================================================


---

<DefaultLayout title={title} description={description}>

  <HeroSection {...heroSectionData}/> 
  

  <AreasOfStudy {...areasStudyData} />


  <AboutSection {...aboutSectionData} />


  <PeculiaritiesSection {...peculiaritiesSectionData} />


  <ReviewsSection {...reviewsSectionData} />

  
  <NewSchoolMain  {...imageNewSchoolData}/>
  
  
  
  <!-- Team section -->

  <section class="py-16 lg:py-32 w-full overflow-hidden">
    <div class="container">
      <div class="m-auto mb-16 max-w-lg">
        <h2 class="mb-8 font-secondary font-medium text-2xl lg:text-4xl text-center">Наша команда</h2>
        <p class="font-normal text-base text-center">Наші викладачі не просто навчають — вони надихають, пояснюють складне простими словами та допомагають кожній дитині розкрити свій потенціал.</p>
      </div>

      <div class="flex gap-4 lg:gap-5 pb-4 lg:overflow-hidden overflow-x-auto scroll-smooth snap-mandatory snap-x lg:snap-none">

        <div class="flex flex-col gap-6 min-w-full lg:min-w-0 snap-center basis-full lg:basis-1/3">
          <div class="rounded-full aspect-59/84">
            <Image
              class="rounded-full w-full h-full object-cover"
              src={import("@images/teacher.png")}
              format="webp"
              alt="IT Friends logo"
            />
          </div>
          <div class="flex flex-col items-center">
            <h3 class="font-medium text-lg">Ірина Маринова</h3>
            <p class="text-base">Вчителька англійської</p>
            <a href="#">
              <Image
                class="w-7 h-7"
                src={import("@images/facebook.svg")}
                alt="Facebook picture"
              />
            </a>
          </div>
        </div>
        
        <div class="flex flex-col lg:flex-col-reverse gap-6 pt-0 lg:pt-16 min-w-full lg:min-w-0 snap-center basis-full lg:basis-1/3">
          <div class="rounded-full aspect-59/84">
            <Image
              class="rounded-full w-full h-full object-cover"
              src={import("@images/teacher.png")}
              format="webp"
              alt="IT Friends logo"
            />
          </div>
          <div class="flex flex-col items-center">
            <h3 class="font-medium text-lg">Ірина Маринова</h3>
            <p class="text-base">Вчителька англійської</p>
            <a href="#">
              <Image
                class="w-7 h-7"
                src={import("@images/facebook.svg")}
                alt="Facebook picture"
              />
            </a>
          </div>
        </div>
        
        <div class="flex flex-col gap-6 min-w-full lg:min-w-0 snap-center basis-full lg:basis-1/3">
          <div class="rounded-full aspect-59/84">
            <Image
              class="rounded-full w-full h-full object-cover"
              src={import("@images/teacher.png")}
              format="webp"
              alt="Facebook picture"
            />
          </div>
          <div class="flex flex-col items-center">
            <h3 class="font-medium text-lg">Ірина Маринова</h3>
            <p class="text-base">Вчителька англійської</p>
            <a href="#">
              <Image
                class="w-7 h-7"
                src={import("@images/facebook.svg")}
                alt="Facebook picture"
              />
            </a>
          </div>
        </div>
        
        <div class="flex flex-col lg:flex-col-reverse gap-6 pt-0 lg:pt-16 min-w-full lg:min-w-0 snap-center basis-full lg:basis-1/3">
          <div class="rounded-full aspect-59/84">
            <Image
              class="rounded-full w-full h-full object-cover"
              src={import("@images/teacher.png")}
              format="webp"
              alt="Facebook picture"
            />
          </div>
          <div class="flex flex-col items-center">
            <h3 class="font-medium text-lg">Ірина Маринова</h3>
            <p class="text-base">Вчителька англійської</p>
            <a href="#">
              <Image
                class="w-7 h-7"
                src={import("@images/facebook.svg")}
                alt="Facebook picture"
              />
            </a>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- FAQ section -->

  <section class="bg-primary-turquoise py-16" id='faq'>
    <div class="container">
      <div class="flex lg:flex-row flex-col justify-between">
        <div class="lg:py-14 basis-4/12">
          <div class="m-auto lg:mx-0 mb-6 max-w-xs">
            <h2 class="mb-8 font-secondary font-medium text-2xl lg:text-3xl lg:text-left text-center">Популярні запитання
            </h2>
          </div>
          <Article class="m-auto lg:mx-0 mb-9 max-w-xs lg:text-left text-center">
            <p>Щоб вам було спокійніше й зрозуміліше, ми зібрали відповіді на найпопулярніші питання про навчання в нашій
              школі.</p>
          </Article>
          <button type="button" class="hidden lg:inline-block px-7 py-3 leading-none transparent-btn">Задати своє
            питання</button>
        </div>

        <!-- Accordion -->

        <div class="space-y-4 accordion basis-6/12">

          <!-- First block -->

          <div class="border rounded-md overflow-hidden accordion-item">
            <h2 class="accordion-header">
              <button type="button"
                class="flex justify-between items-center bg-transparent p-5 w-full font-semibold lg:font-bold text-base lg:text-lg text-left transition-colors accordion-trigger"
                aria-expanded="false">
                <span>З якого віку можна навчатись у школі?</span>
                <span class="accordion-icon">
                  <svg class="w-5 h-5 accordion-icon-plus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="48" d="M256 80v352M80 256h352" />
                  </svg>
                  <svg class="hidden w-5 h-5 accordion-icon-minus" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="48" d="M80 256h352" />
                  </svg>
                </span>
              </button>
            </h2>
            <div class="max-h-0 overflow-hidden transition-all duration-500 ease-in-out accordion-panel">
              <div class="p-5 border-t">
                <Article>
                  <p class="mb-2">Наші заняття проходять офлайн у Києві за п’ятьма зручними адресами:</p>
                  <p>📍 вул. Хрещатик, 25, просп. Перемоги, 45, вул. Драгоманова, 12, вул. Михайла Ломоносова, 18, вул. Генерала Алмазова, 6Обирайте найближчу до вас локацію — усі класи
                  обладнані сучасною технікою та створені спеціально для навчання дітей і підлітків. 🌱</p>
                </Article>
              </div>
            </div>
          </div>

          <!-- Second block -->

          <div class="border rounded-md overflow-hidden accordion-item">
            <h2 class="accordion-header">
              <button type="button"
                class="flex justify-between items-center bg-transparent p-5 w-full font-semibold lg:font-bold text-base lg:text-lg text-left transition-colors accordion-trigger"
                aria-expanded="false">
                <span>Чи можна приєднатись посеред навчального року?</span>
                <span class="accordion-icon">
                  <svg class="w-5 h-5 accordion-icon-plus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="48" d="M256 80v352M80 256h352" />
                  </svg>
                  <svg class="hidden w-5 h-5 accordion-icon-minus" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="48" d="M80 256h352" />
                  </svg>
                </span>
              </button>
            </h2>
            <div class="max-h-0 overflow-hidden transition-all duration-500 ease-in-out accordion-panel">
              <div class="p-5 border-t">
                <Article>
                  <p class="mb-2">Наші заняття проходять офлайн у Києві за п’ятьма зручними адресами:</p>
                  <p>📍 вул. Хрещатик, 25, просп. Перемоги, 45, вул. Драгоманова, 12, вул. Михайла Ломоносова, 18, вул. Генерала Алмазова, 6Обирайте найближчу до вас локацію — усі класи
                  обладнані сучасною технікою та створені спеціально для навчання дітей і підлітків. 🌱</p>
                </Article>
              </div>
            </div>
          </div>

          <!-- Third block -->

          <div class="border rounded-md overflow-hidden accordion-item">
            <h2 class="accordion-header">
              <button type="button"
                class="flex justify-between items-center bg-transparent p-5 w-full font-semibold lg:font-bold text-base lg:text-lg text-left transition-colors accordion-trigger"
                aria-expanded="false">
                <span>Скільки дітей у групі?</span>
                <span class="accordion-icon">
                  <svg class="w-5 h-5 accordion-icon-plus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="48" d="M256 80v352M80 256h352" />
                  </svg>
                  <svg class="hidden w-5 h-5 accordion-icon-minus" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="48" d="M80 256h352" />
                  </svg>
                </span>
              </button>
            </h2>
            <div class="max-h-0 overflow-hidden transition-all duration-500 ease-in-out accordion-panel">
              <div class="p-5 border-t">
                <Article>
                  <p class="mb-2">Наші заняття проходять офлайн у Києві за п’ятьма зручними адресами:</p>
                  <p>📍 вул. Хрещатик, 25, просп. Перемоги, 45, вул. Драгоманова, 12, вул. Михайла Ломоносова, 18, вул. Генерала Алмазова, 6Обирайте найближчу до вас локацію — усі класи
                  обладнані сучасною технікою та створені спеціально для навчання дітей і підлітків. 🌱</p>
                </Article>
              </div>
            </div>
          </div>

          <!-- Fourth block -->

          <div class="border rounded-md overflow-hidden accordion-item">
            <h2 class="accordion-header">
              <button type="button"
                class="flex justify-between items-center bg-transparent p-5 w-full font-semibold lg:font-bold text-base lg:text-lg text-left transition-colors accordion-trigger"
                aria-expanded="false">
                <span>Чи можна спочатку спробувати?</span>
                <span class="accordion-icon">
                  <svg class="w-5 h-5 accordion-icon-plus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="48" d="M256 80v352M80 256h352" />
                  </svg>
                  <svg class="hidden w-5 h-5 accordion-icon-minus" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="48" d="M80 256h352" />
                  </svg>
                </span>
              </button>
            </h2>
            <div class="max-h-0 overflow-hidden transition-all duration-500 ease-in-out accordion-panel">
              <div class="p-5 border-t">
                <Article>
                  <p class="mb-2">Наші заняття проходять офлайн у Києві за п’ятьма зручними адресами:</p>
                  <p>📍 вул. Хрещатик, 25, просп. Перемоги, 45, вул. Драгоманова, 12, вул. Михайла Ломоносова, 18, вул. Генерала Алмазова, 6Обирайте найближчу до вас локацію — усі класи
                  обладнані сучасною технікою та створені спеціально для навчання дітей і підлітків. 🌱</p>
                </Article>
              </div>
            </div>
          </div>

          <!-- Fifth block -->

          <div class="border rounded-md overflow-hidden accordion-item">
            <h2 class="accordion-header">
              <button type="button"
                class="flex justify-between items-center bg-transparent p-5 w-full font-semibold lg:font-bold text-base lg:text-lg text-left transition-colors accordion-trigger"
                aria-expanded="false">
                <span>Де саме проходять заняття?</span>
                <span class="accordion-icon">
                  <svg class="w-5 h-5 accordion-icon-plus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="48" d="M256 80v352M80 256h352" />
                  </svg>
                  <svg class="hidden w-5 h-5 accordion-icon-minus" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="48" d="M80 256h352" />
                  </svg>
                </span>
              </button>
            </h2>
            <div class="max-h-0 overflow-hidden transition-all duration-500 ease-in-out accordion-panel">
              <div class="p-5 border-t">
                <Article>
                  <p class="mb-2">Наші заняття проходять офлайн у Києві за п’ятьма зручними адресами:</p>
                  <p>📍 вул. Хрещатик, 25, просп. Перемоги, 45, вул. Драгоманова, 12, вул. Михайла Ломоносова, 18, вул. Генерала Алмазова, 6Обирайте найближчу до вас локацію — усі класи
                  обладнані сучасною технікою та створені спеціально для навчання дітей і підлітків. 🌱</p>
                </Article>
              </div>
            </div>
          </div>

      </div>
    </div>
  </section>


<!-- This import will be sent to the accordion component when it is ready. -->
<script>
  import '../scripts/accordion.ts';
</script>

</DefaultLayout>