---
import '../styles/global.scss';
---

<html lang="en">
  <head>
    <!-- TODO: insert head layout -->
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Test</title>
	</head>
	<body>
    <!-- TODO: insert Default layout with pages -->
		<h1 class="font-bold text-blue-600 text-3xl">Test</h1>
		<p class="sass-test">Sass test</p>
	</body>
</html>
