---
import Tab from "@components/Tab.astro";

---




  <!-- Courses section -->

  <section>
    <div class="container">
      <div class="mx-auto mb-16 max-w-md">
        <h2 class="font-secondary font-medium text-2xl lg:text-4xl text-center">Що саме ми вивчаємо</h2>
      </div>
    </div>

    <Tab isInner={false}>
      
    </Tab>

  </section>