---
import { Image } from "astro:assets";
import "@styles/global.scss";
---

<div class="lg:hidden right-0 bottom-1 z-10 fixed flex flex-col menu-controls">
  <button type="button" class="menu-btn-call">
    <Image
      src={import("@images/call-btn.svg")}
      format="svg"
      alt="Call"
    />
  </button>
  <button type="button" class="menu-btn-telegram">
    <Image
      src={import("@images/telegram-btn.svg")}
      format="svg"
      alt="Telegram"
    />
  </button>
</div>


<div class="top-0 left-0 z-50 fixed flex flex-col justify-center items-center gap-4 bg-white w-screen h-screen overflow-x-auto transition-transform -translate-x-full duration-300 ease-in-out menu-panel menu-call transform">
  <div class="container">
    <div class="top-4 right-4 absolute cursor-pointer close">
      <Image
        src={import("@images/green-close.svg")}
        format="svg"
        alt="Close menu"
      />
    </div>
    <div class="mb-5">
      <h2 class="font-secondary font-medium text-xl text-center">Оберіть, будь ласка,  напрямок, який цікавить:</h2>
    </div>
    <div class="flex flex-col items-center gap-4 w-full">
      <a href="tel:+38067" class="contact-btn">IT школа</a>
      <a href="tel:+38098" class="contact-btn">Англійська для дітей</a>
      <a href="tel:+38093" class="contact-btn">IT табори</a>
      <a href="tel:+38050" class="contact-btn">Франшиза</a>
    </div>
  </div>
</div>

<div class="top-0 left-0 z-50 fixed flex flex-col justify-center items-center gap-4 bg-white w-screen h-screen overflow-x-auto transition-transform -translate-x-full duration-300 ease-in-out menu-panel menu-telegram transform">
  <div class="container">
    <div class="top-4 right-4 absolute cursor-pointer close">
      <Image
        src={import("@images/green-close.svg")}
        format="svg"
        alt="Close menu"
      />
    </div>
    <div class="mb-5">
      <h2 class="font-secondary font-medium text-xl text-center">Оберіть, будь ласка, зручну для вас адресу:</h2>
    </div>
    <div class="flex flex-col gap-4">
      <a href="https://t.me/user1" target="_blank" class="py-2 contact-btn">
        <span>ЖМ Борщагівка</span>
        <span>Б-р, Кольцова 14</span>
      </a>
      <a href="https://t.me/user2" target="_blank" class="py-2 contact-btn">
        <span>ЖМ Харківська-Позняки</span>
        <span>Вул. Кошиця 9Б</span>
      </a>
      <a href="https://t.me/user3" target="_blank" class="py-2 contact-btn">
        <span>ЖМ Позняки</span>
        <span>Пр-т, Григоренко 16</span>
      </a>
      <a href="https://t.me/user4" target="_blank" class="py-2 contact-btn">
        <span>ЖМ Троєщина</span>
        <span>Пр-т, Маяковського 91в</span>
      </a>
      <a href="https://t.me/user5" target="_blank" class="py-2 contact-btn">
        <span>ЖМ Воскресенка</span>
        <span>Вул. Курнатовського 22</span>
      </a>
    </div>
  </div>
</div>

<script src="@scripts/contacts"></script>