---
interface Props {
  class?: string;
  wordLength?: number;
}

const { class: className = '' , wordLength } = Astro.props;

const html = await Astro.slots.render('default');
const plainText = html.replace(/<[^>]+>/g, '').trim();
const words = plainText.split(/\s+/);
const shouldTruncate = wordLength !== undefined && words.length > wordLength;
const excerptedWords = shouldTruncate ? words.slice(0, wordLength) : words;
const excerptedText = excerptedWords.join(' ');
---

<div class={`excerpt-container ${className}`}>
  <p class="text-base excerpt-text">
    {excerptedText + '...'}
    {shouldTruncate && (
      <span class="font-bold cursor-pointer read-more">читати більше</span>
    )}
  </p>
  <p class="hidden text-base full-text">
    {plainText}
  </p>
</div>

{shouldTruncate && (
  <script>
    import { setupExcerpt } from '@scripts/excerpt.ts';
    setupExcerpt();
  </script>
)}
