---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a href={href} class:list={['transition font-medium lg:font-normal hover:text-blue', className, { 'is-active': isActive }]} {...props}>
	<slot />
</a>
<!-- mysite.com/
mysite.com/test
mysite.com/about
mysite.com/contacts

mysite.com/test -->