---
const {
  type = 'tab',
  isInner = true,
  class: classname = ''
} = Astro.props;

let triggerClasses = '';

switch (type) {
  case 'pill':
    triggerClasses += ' bg-red-error';
    break;
  case 'tab':
  default:
    triggerClasses += ' border border-red-error';
    break;
}
---
{isInner ? (
  <div class={`${classname}`}>
    <div class={`${triggerClasses}`}>
      <p>Внешний таб</p>
    </div>

    <div class="">
      <p>внутренний таб</p>
      <slot />
    </div>
  </div>
) : (
    <div class="">
      <p>внутренний таб</p>
      <slot />
    </div>
)}
