---
import { Image } from "astro:assets";
import Article from "@components/Article.astro";
---

<div class="tab-container">

  <!-- Tab buttons -->

  <div class="flex flex-wrap justify-center gap-10 font-secondary font-semibold text-base lg:text-lg text-center container"
    role="tablist">

    <button 
      class="inline-block px-3 lg:px-7 py-3 rounded-t-lg transition-colors duration-300 tab-trigger" role="tab"
      data-tab="profile" aria-selected="true">
      7-8 років
    </button>

    <button 
      class="inline-block px-3 lg:px-7 py-3 rounded-t-lg transition-colors duration-300 tab-trigger" role="tab"
      data-tab="dashboard" aria-selected="false">
      9-16 років
    </button>

  </div>


  <!-- this div shows bg-gray in tab, i don`t know how to do this functionality different at this moment -->

  <div class="bg-transparent-btn-hover-bg min-h-52"></div>


  <!-- Tabs content -->

  <div class="top-[-9rem] relative tab-content container">

    <!-- Active side -->

    <div class="tab-panel" data-content="profile" role="tabpanel">

      <div class="card-block flex lg:flex-row flex-col lg:flex-wrap justify-between gap-y-12 mb-11">

        <!-- First card -->

        <div
          class="flex flex-col items-center bg-white shadow-2xl px-3 lg:px-6 pt-4 pb-9 rounded-lg max-w-[400px] min-h-[42.125rem] lg:min-h-[35.31rem] lg:basis-4/12 card">
          <Image class="mb-auto max-h-28" src={import("@images/tab1.jpg")} format="webp" alt="IT Friends logo" />
          <h3 class="mb-auto font-secondary font-semibold text-2xl whitespace-nowrap">IT-Beginner</h3>
          <Article class='mb-auto'>
            <p>Цей курс допоможе дітям зробити перші кроки в світі комп’ютерів та технологій. Ми вчимо через гру:
              програмуємо персонажів, розв’язуємо логічні задачі, створюємо прості історії. </p>
            <p>Діти навчаються з цікавістю, без стресу й тиску.</p>
          </Article>
          <button class="py-4 border w-full font-secondary font-medium text-lg orange-btn" type="button">Записатись на
            урок</button>
        </div>

        <!-- Second card -->

        <div
          class="flex flex-col items-center bg-white shadow-2xl px-3 lg:px-6 pt-4 pb-9 rounded-lg max-w-[400px] min-h-[42.125rem] lg:min-h-[35.31rem] lg:basis-4/12 card">
          <Image class="mb-auto max-h-28" src={import("@images/tab1.jpg")} format="webp" alt="English friends logo" />
          <h3 class="mb-auto font-secondary font-semibold text-2xl whitespace-nowrap">
            IT-skills+
          </h3>
          <Article class='mb-auto'>
            <p>Цей курс допоможе дітям зробити перші кроки в світі комп’ютерів та технологій. Ми вчимо через гру:
              програмуємо персонажів, розв’язуємо логічні задачі, створюємо прості історії. </p>
            <p>Діти навчаються з цікавістю, без стресу й тиску.</p>
          </Article>
          <button class="py-4 border w-full font-secondary font-medium text-lg orange-btn" type="button">Записатись на
            урок</button>
        </div>

        <!-- Third card -->

        <div
          class="flex flex-col items-center bg-white shadow-2xl px-3 lg:px-6 pt-4 pb-9 rounded-lg max-w-[400px] min-h-[42.125rem] lg:min-h-[35.31rem] lg:basis-4/12 card">
          <Image class="mb-auto max-h-28" src={import("@images/tab1.jpg")} format="webp" alt="Tour friends logo" />
          <h3 class="mb-auto font-secondary font-semibold text-2xl whitespace-nowrap">Курси графічного дизайну</h3>
          <Article class='mb-auto'>
            <p>Цей курс допоможе дітям зробити перші кроки в світі комп’ютерів та технологій. Ми вчимо через гру:
              програмуємо персонажів, розв’язуємо логічні задачі, створюємо прості історії. </p>
            <p>Діти навчаються з цікавістю, без стресу й тиску.</p>
          </Article>
          <button class="py-4 border w-full font-secondary font-medium text-lg orange-btn" type="button">Записатись на
            урок</button>
        </div>

        <!-- Fourth card -->

        <div
          class="flex flex-col items-center bg-white shadow-2xl px-3 lg:px-6 pt-4 pb-9 rounded-lg max-w-[400px] min-h-[42.125rem] lg:min-h-[35.31rem] lg:basis-4/12 card">
          <Image class="mb-auto max-h-28" src={import("@images/tab1.jpg")} format="webp" alt="Tour friends logo" />
          <h3 class="mb-auto font-secondary font-semibold text-2xl whitespace-nowrap">Курси графічного дизайну</h3>
          <Article class='mb-auto'>
            <p>Цей курс допоможе дітям зробити перші кроки в світі комп’ютерів та технологій. Ми вчимо через гру:
              програмуємо персонажів, розв’язуємо логічні задачі, створюємо прості історії. </p>
            <p>Діти навчаються з цікавістю, без стресу й тиску.</p>
          </Article>
          <button class="py-4 border w-full font-secondary font-medium text-lg orange-btn" type="button">Записатись на
            урок</button>
        </div>

        <!-- Fifth card -->

        <div
          class="flex flex-col items-center bg-white shadow-2xl px-3 lg:px-6 pt-4 pb-9 rounded-lg max-w-[400px] min-h-[42.125rem] lg:min-h-[35.31rem] lg:basis-4/12 card">
          <Image class="mb-auto max-h-28" src={import("@images/tab1.jpg")} format="webp" alt="Tour friends logo" />
          <h3 class="mb-auto font-secondary font-semibold text-2xl whitespace-nowrap">Курси графічного дизайну</h3>
          <Article class='mb-auto'>
            <p>Цей курс допоможе дітям зробити перші кроки в світі комп’ютерів та технологій. Ми вчимо через гру:
              програмуємо персонажів, розв’язуємо логічні задачі, створюємо прості історії. </p>
            <p>Діти навчаються з цікавістю, без стресу й тиску.</p>
          </Article>
          <button class="py-4 border w-full font-secondary font-medium text-lg orange-btn" type="button">Записатись на
            урок</button>
        </div>

        <!-- Sixth card -->

        <div
          class="flex flex-col items-center bg-white shadow-2xl px-3 lg:px-6 pt-4 pb-9 rounded-lg max-w-[400px] min-h-[42.125rem] lg:min-h-[35.31rem] lg:basis-4/12 card">
          <Image class="mb-auto max-h-28" src={import("@images/tab1.jpg")} format="webp" alt="Tour friends logo" />
          <h3 class="mb-auto font-secondary font-semibold text-2xl whitespace-nowrap">Курси графічного дизайну</h3>
          <Article class='mb-auto'>
            <p>Цей курс допоможе дітям зробити перші кроки в світі комп’ютерів та технологій. Ми вчимо через гру:
              програмуємо персонажів, розв’язуємо логічні задачі, створюємо прості історії. </p>
            <p>Діти навчаються з цікавістю, без стресу й тиску.</p>
          </Article>
          <button class="py-4 border w-full font-secondary font-medium text-lg orange-btn" type="button">Записатись на
            урок</button>
        </div>

        <!-- Seventh card -->

        <div
          class="flex flex-col items-center bg-white shadow-2xl px-3 lg:px-6 pt-4 pb-9 rounded-lg max-w-[400px] min-h-[42.125rem] lg:min-h-[35.31rem] lg:basis-4/12 card">
          <Image class="mb-auto max-h-28" src={import("@images/tab1.jpg")} format="webp" alt="Tour friends logo" />
          <h3 class="mb-auto font-secondary font-semibold text-2xl whitespace-nowrap">Курси графічного дизайну</h3>
          <Article class='mb-auto'>
            <p>Цей курс допоможе дітям зробити перші кроки в світі комп’ютерів та технологій. Ми вчимо через гру:
              програмуємо персонажів, розв’язуємо логічні задачі, створюємо прості історії. </p>
            <p>Діти навчаються з цікавістю, без стресу й тиску.</p>
          </Article>
          <button class="py-4 border w-full font-secondary font-medium text-lg orange-btn" type="button">Записатись на
            урок</button>
        </div>

      </div>

      <div class="flex justify-center">
        <button class="px-11 py-4 transparent-btn show-more-btn" type="button">Дивитись більше</button>
      </div>

    </div>

    <!-- Inactive side -->

    <div class="hidden tab-panel" data-content="dashboard" role="tabpanel">
      <div class="card-block flex lg:flex-row flex-col lg:flex-wrap justify-between gap-y-12 mb-11">

        <!-- First card -->

        <div
          class="flex flex-col items-center bg-white shadow-2xl px-3 lg:px-6 pt-4 pb-9 rounded-lg max-w-[400px] min-h-[42.125rem] lg:min-h-[35.31rem] lg:basis-4/12 card">
          <Image class="mb-auto max-h-28" src={import("@images/tab1.jpg")} format="webp" alt="IT Friends logo" />
          <h3 class="mb-auto font-secondary font-semibold text-2xl whitespace-nowrap">IT-Beginner</h3>
          <Article class='mb-auto'>
            <p>Діти навчаються з цікавістю, без стресу й тиску.</p>
          </Article>
          <button class="py-4 border w-full font-secondary font-medium text-lg orange-btn" type="button">Записатись на
            урок</button>
        </div>

        <!-- Second card -->

        <div
          class="flex flex-col items-center bg-white shadow-2xl px-3 lg:px-6 pt-4 pb-9 rounded-lg max-w-[400px] min-h-[42.125rem] lg:min-h-[35.31rem] lg:basis-4/12 card">
          <Image class="mb-auto max-h-28" src={import("@images/tab1.jpg")} format="webp" alt="English friends logo" />
          <h3 class="mb-auto font-secondary font-semibold text-2xl whitespace-nowrap">
            IT-skills+
          </h3>
          <Article class='mb-auto'>
            <p>Діти навчаються з цікавістю, без стресу й тиску.</p>
          </Article>
          <button class="py-4 border w-full font-secondary font-medium text-lg orange-btn" type="button">Записатись на
            урок</button>
        </div>

        <!-- Third card -->

        <div
          class="flex flex-col items-center bg-white shadow-2xl px-3 lg:px-6 pt-4 pb-9 rounded-lg max-w-[400px] min-h-[42.125rem] lg:min-h-[35.31rem] lg:basis-4/12 card">
          <Image class="mb-auto max-h-28" src={import("@images/tab1.jpg")} format="webp" alt="Tour friends logo" />
          <h3 class="mb-auto font-secondary font-semibold text-2xl whitespace-nowrap">Курси графічного дизайну</h3>
          <Article class='mb-auto'>
            <p>Діти навчаються з цікавістю, без стресу й тиску.</p>
          </Article>
          <button class="py-4 border w-full font-secondary font-medium text-lg orange-btn" type="button">Записатись на
            урок</button>
        </div>

        <!-- Fourth card -->

        <div
          class="flex flex-col items-center bg-white shadow-2xl px-3 lg:px-6 pt-4 pb-9 rounded-lg max-w-[400px] min-h-[42.125rem] lg:min-h-[35.31rem] lg:basis-4/12 card">
          <Image class="mb-auto max-h-28" src={import("@images/tab1.jpg")} format="webp" alt="Tour friends logo" />
          <h3 class="mb-auto font-secondary font-semibold text-2xl whitespace-nowrap">Курси графічного дизайну</h3>
          <Article class='mb-auto'>
            <p>Діти навчаються з цікавістю, без стресу й тиску.</p>
          </Article>
          <button class="py-4 border w-full font-secondary font-medium text-lg orange-btn" type="button">Записатись на
            урок</button>
        </div>

        <!-- Fifth card -->

        <div
          class="flex flex-col items-center bg-white shadow-2xl px-3 lg:px-6 pt-4 pb-9 rounded-lg max-w-[400px] min-h-[42.125rem] lg:min-h-[35.31rem] lg:basis-4/12 card">
          <Image class="mb-auto max-h-28" src={import("@images/tab1.jpg")} format="webp" alt="Tour friends logo" />
          <h3 class="mb-auto font-secondary font-semibold text-2xl whitespace-nowrap">Курси графічного дизайну</h3>
          <Article class='mb-auto'>
            <p>Діти навчаються з цікавістю, без стресу й тиску.</p>
          </Article>
          <button class="py-4 border w-full font-secondary font-medium text-lg orange-btn" type="button">Записатись на
            урок</button>
        </div>

        <!-- Sixth card -->

        <div
          class="flex flex-col items-center bg-white shadow-2xl px-3 lg:px-6 pt-4 pb-9 rounded-lg max-w-[400px] min-h-[42.125rem] lg:min-h-[35.31rem] lg:basis-4/12 card">
          <Image class="mb-auto max-h-28" src={import("@images/tab1.jpg")} format="webp" alt="Tour friends logo" />
          <h3 class="mb-auto font-secondary font-semibold text-2xl whitespace-nowrap">Курси графічного дизайну</h3>
          <Article class='mb-auto'>
            <p>Діти навчаються з цікавістю, без стресу й тиску.</p>
          </Article>
          <button class="py-4 border w-full font-secondary font-medium text-lg orange-btn" type="button">Записатись на
            урок</button>
        </div>

        <!-- Seventh card -->

        <div
          class="flex flex-col items-center bg-white shadow-2xl px-3 lg:px-6 pt-4 pb-9 rounded-lg max-w-[400px] min-h-[42.125rem] lg:min-h-[35.31rem] lg:basis-4/12 card">
          <Image class="mb-auto max-h-28" src={import("@images/tab1.jpg")} format="webp" alt="Tour friends logo" />
          <h3 class="mb-auto font-secondary font-semibold text-2xl whitespace-nowrap">Курси графічного дизайну</h3>
          <Article class='mb-auto'>
            <p>Діти навчаються з цікавістю, без стресу й тиску.</p>
          </Article>
          <button class="py-4 border w-full font-secondary font-medium text-lg orange-btn" type="button">Записатись на
            урок</button>
        </div>

      </div>

      <div class="flex justify-center">
        <button class="px-11 py-4 transparent-btn show-more-btn" type="button">Дивитись більше</button>
      </div>
    </div>
  </div>
</div>
</div>

<script>
  import { setupTabs, setupCardManager } from "@scripts/tab";
  setupTabs();
  setupCardManager();
</script>