---
// src/components/staticSections/blog/RelatedPostsSection.astro
import PostCard from '@components/PostCard.astro';
import type { BlogPost } from '@/types/blog';

interface Props {
  posts: BlogPost[];
}
const { posts } = Astro.props as Props;
---

<section class="py-14">
  <div class="gap-8 grid grid-cols-1 md:grid-cols-3 container">
    {posts && posts.length > 0 ? (
      posts.map((post) => <PostCard post={post} />)
    ) : (
      <div>
        <h2 class="mb-8 font-bold text-3xl">Останні статті</h2>
        <p>На даний момент немає інших статей.</p>
      </div>
    )}
  </div>
</section>
