---
import "@styles/global.scss";
// Components
import HeadBase from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro"
import ItLessonForm from "@components/itLessonForm.astro";
import EnglishLessonForm from "@components/englishLessonForm.astro";
import Contacts from "@/components/Contacts.astro";

const { settings, lang, seo } = Astro.props;

if (!Astro.cookies.get('language')) {
  Astro.cookies.set('language', lang, { maxAge: 31536000 });
}
---

<html class="scroll-smooth" lang={lang}>
  <HeadBase {...seo} />

  <body class="flex flex-col min-h-[100svh]">
    <Header data={settings?.header} lang={lang}/>

    <Contacts />

    <ItLessonForm />

    <EnglishLessonForm />

    <main aria-label="Content">
      <slot />
    </main>

    
    <Footer data={settings?.footer}/>
  </body>
  <script>
    // import "@scripts/app.ts";
  </script>
</html>

